# Database
DATABASE_URL=

# NextAuth
NEXTAUTH_SECRET=
AUTH_SECRET=
NEXTAUTH_URL=
AUTH_TRUST_HOST=true

# Personal
GEMINI_API_KEY=

# Pinecone related keys
PINECONE_API_KEY=
PINECONE_INDEX=

# cloudinary related api keys
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# PostHog
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=